
a{
    color:$lighter-color;
    text-decoration: none;
    font-size:2rem;
  }

.menu-div{
    @include display;
    height:80vh;
    width:101%;
    background:$primary-color;
    border:1px solid black;
    box-shadow:rgba(0, 0, 0, 0.493) -2px -5px 15px;

  }
  
  .taz{
    height:35rem;
    max-width:100%;
    max-height:100%;
  }
  .about{
    max-width:100%;
    max-height:100%;
  }  
  
  .slash-text{
    height:6rem;
    width:22rem;
    padding:2rem;
  
  }

  .red-half{
    background: $secondary-color;
    color:$lighter-color;
    font-size:2rem;
    height:100%;
    min-width:50%;
    max-width:50%;

  
  }

  .red-half{

    .icons a{
      font-size: 4rem;
      padding: 1rem;
      color:$black;
      margin:2.5rem;
    }
    .icon2:hover {
      color:$lighter-color;
      @include easeout;
    }
  }

  .black-half{
      background:$black;
      color:$lighter-color;
      height:100%;
      min-width:50%;
      max-width:50%;
      font-size: 2rem;
  }
  .about-boxes{
    @include display;
    justify-content: center;
    flex-direction: column;
    height:90%;
    width:70%;
  }


 