
.project-section{
    background:#FFDA00;

    
}


.project-section img{
   width:240px;
   border:5px solid black;
   
}


.container-1{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;

   
}


  .proj-icons a{
    color:black;

  }

 .projects{
   padding:2rem 0;
 }


