@import "styles/main";
@import "styles/about";
@import "styles/projects";
@import "styles/config";
@import "styles/skills";
@import "styles/burger";
@import "styles/Navbar";
@import "styles/contact";
@import "styles/footer";

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(255,218,0);
background: linear-gradient(180deg, rgba(255,218,0,1) 1%, rgba(255,0,0,1) 48%, rgba(0,0,0,1) 100%);
border-radius:.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 47%, rgba(255,218,0,1) 100%);
}

.App{
  max-width:100%;
}

.proj-menu{
position:fixed;
width:100%;
}
svg{
margin:0 1rem;
 }

 
.menu-bars{
  font-size:1rem;
  text-align: center;
}
.home{
  background: rgb(255,218,0);
 
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  max-width:100%;
}



a:hover{
 text-decoration: rgb(204, 44, 44) solid underline;
 
}

.red-text{
  color:rgb(204, 44, 44);

}
.red-text:hover{
  text-decoration: whitesmoke solid underline;
}


.hero{
  height:75%;
  width:70%;
  margin:25% 0%;
}

a{
  color:whitesmoke;
  text-decoration: none;
}

 a:hover {
  color:red;

}

@import "styles/mobile";